@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html, body {
    margin: 0;
    padding: 0;
}

.subheader-btn {
    @apply flex flex-col tracking-[-0.003em] font-semibold text-[0.72rem]  items-center gap-2 border-white border-b-2 hover:text-black hover:border-gray-300 focus:text-black focus:border-black  pt-3  antialiased text-gray-500
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.card--stats {
    display: flex;
    align-items: center;
}
.card--price {
    margin-top: auto;
}